@page "/fetchdata"

@using BlazorFrontend.Data
@inject DartService DartService

<h1>DartThrow Summary</h1>

<p>Aufruf des GRPC Services</p>

@if (dartThrow == null)
{
    <button class="btn btn-primary" @onclick="RandomThrow">Random Throw</button>
}
else
{
    <dl>
        <dt>xCoord</dt>
        <dd>@dartThrow.xCoord</dd>
        <dt>yCoord</dt>
        <dd>@dartThrow.yCoord</dd>
        <dt>distanceToCenter</dt>
        <dd>@dartThrow.distanceToCenter</dd>
        <dt>hitTheBoard</dt>
        <dd>@dartThrow.hitTheBoard</dd>
        <dt>multiplicator</dt>
        <dd>@dartThrow.multiplicator</dd>
        <dt>angle</dt>
        <dd>@dartThrow.angle</dd>
        <dt>pointSlot</dt>
        <dd>@dartThrow.pointSlot</dd>
        <dt>points</dt>
        <dd>@dartThrow.points</dd>
    </dl>
}

@code {
    private DartThrow dartThrow;

    private void RandomThrow()
    {
        Random rnd = new Random();
        SetThrow( rnd.NextDouble(), rnd.NextDouble());

    }
    private void SetThrow(double _xCoord, double _yCoord)
    {

        dartThrow 
            = DartService.GetDartThrowAsync(_xCoord,_yCoord);
    }
}
